$font-family-Yellix: "Yellix";
$font-family-Akkurat: "Akkurat-Mono";
$font-style: normal;

$green: #3CD17F;
$blue: #4B42AD;
$black: #333333;
$white: #ffffff;
$bg_dark: #1F1F1F;
$bg_grey: #F5F5F5;

$border: 1px solid #ACACAC;
$transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);


@mixin letter-spacing($spacing) {
    letter-spacing: ($spacing / 1000) * 1em;
}
@mixin scroller-style {
    &::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: none;
        background-color: #F4F4F4;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #bababa;
        outline: none;
    }    
}
@mixin font-Yellix {
    font-family: $font-family-Yellix;
    font-style: $font-style;
}
@mixin font-Akkurat {
    font-family: $font-family-Akkurat;
    font-style: $font-style;
}

Body{
    background-color: #4B42AD;
    margin: 0 !important;
    @include font-Yellix;
    // @include scroller-style;
    color: $black;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    text-rendering: optimizeLegibility;

    &.locked{
        overflow: hidden !important;
    }
}
img, video{
    display: block;
}
a{
    color: inherit;
}
.page{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 2;
        opacity: 0.3;
        display: none;

        @media (max-width: 1200px){
            display: block;
        }
    }

    picture{
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.code{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    @media (max-width: 1200px){
        width: 100%;
        right: -70%;
    }
    @media (max-width: 720px){
        top: 50%;
        right: -40%;
        opacity: 0.6;
    }

}
.text{
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    padding: 100px 60px;
    width: 60%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1672px){
        padding: 60px;
        width: 50%;
    }
    @media (max-width: 1200px){
        width: 80%;
    }
    @media (max-width: 720px){
        width: 100%;
        padding: 60px 20px 80px;
    }

    h1{
        @include font-Yellix;
        font-size: 60px;
        line-height: 64px;
        @include letter-spacing(-21);
        color: #fff;
        margin: 0 0 60px;
        font-weight: 400;

        @media (max-width: 1672px){
            font-size: 36px;
            line-height: 40px;
        }
        @media (max-width: 720px){
            font-size: 24px;
            line-height: 28px;
        }

        span{
            font-weight: 500;
        }

    }
    h4{
        @include font-Yellix;
        font-size: 40px;
        line-height: 64px;
        @include letter-spacing(-21);
        color: #fff;
        margin: 0 0 60px;
        font-weight: 400;
        @media (max-width: 1672px){
            font-size: 28px;
            line-height: 32px;
        }
        @media (max-width: 720px){
            font-size: 18px;
            line-height: 22px;
        }
    }
    p{
        @include font-Yellix;
        font-size: 24px;
        line-height: 34px;
        @include letter-spacing(0);
        color: #fff;
        margin: 0;
        font-weight: 400;
        @media (max-width: 1672px){
            font-size: 18px;
            line-height: 22px;
        }
    }
}